<div id="formaZaLozinku">
    <h3>Forma za vraćanje lozinke</h3>
    <form>
        <table>
            <tr>
                <td>Unesite Vaš email:</td>
                <td id="emailVL">
                    <input type='text' [(ngModel)]='email' name='email'>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button (click)='send()'>Pošalji</button>
                </td>
            </tr>
            <tr>
                <td>
                    <p>{{message}}
                        <p>
                </td>
            </tr>
        </table>
    </form>
</div>