<div id="futer">
    <h2>Ostati ravnodušan prema knjizi, znači lakomisleno osiromašiti svoj život. – Ivo Andrić</h2>
    <div id="ikonice">
        <a href="https://www.facebook.com/" target="blank"><i class="fab fa-facebook-square"></i></a>
        <a href="https://www.instagram.com/?hl=sr" target="blank"><i class="fab fa-instagram"></i></a>
        <a href="https://twitter.com/login?lang=sr" target="blank"><i class="fab fa-twitter-square"></i></a>
        <a href="https://www.youtube.com/?hl=sr&gl=RS" target="blank"><i class="fab fa-youtube"></i></a>
    </div>
    <h3>&copy; Blažić Marko 2020. </h3>
</div>
